.mainText{
    align-items: center;    
    flex-direction: column;
    display:flex;
    width: 100%;
    justify-content: center;
    height: 100%;
}

.back{
    background: url("./assets/Desktop_Backgrounds_1920x1200_6 3.png")  center/cover no-repeat;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainText h1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
}
.mainText h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
}
.mainText img{
    transition: all 0.7s;
}
.mainText img:hover{
    transform: rotate3d(0, 1, 0, 0.5turn) scale(1.3);
}


.sec{
    align-items: center;    
    flex-direction: column;
    display:flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(238, 238, 238, 1);
    padding:87px 97px 134px 97px;
}
.sec p{
    font-size: 16px;
}
.sec h3{
    font-size: 24px;
    color: rgba(102, 102, 102, 1);
}
.sec h2{
    font-size: 48px;
    color: rgba(70, 69, 71, 1);
}
.sec button{
    margin-top: 21px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(85, 194, 216, 1);
    border:none;
    Width: 115px;
    Height:36px;
    border-radius: 18px;
    transition: all 0.7s;
}
.sec button:hover{
    transform: rotate(15deg);
    transform-origin:center left;
}

.learnMore{
    align-items: center;    
    flex-direction: column;
    display:flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    background: url("./assets/img54.png") center/cover no-repeat;
    height: 666px;
    color: white;
}
.learnMore h2{
    font-family: Oswald;
    font-size: 48px;
}
.learnMore h3{
    font-family: Source Sans Pro;
    font-size: 24px;
}
.learnMore button{
    display: flex;
    align-items: center;
    padding-left: 50px;
    background-color: rgba(57, 194, 215, 1);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 80px;
    transition: all 0.7s;
}
.learnMore button:hover{
    display: flex;
    align-items: center;
    padding-left: 45px;
    background-color: white;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    border: none;
    color: rgba(57, 194, 215, 1);
    font-size: 80px;
}

.footer{
    color: rgba(255, 255, 255, 0.40);
    display:grid;
    grid-template-columns:repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: left;
    background: #464547;
    padding: 21px 140px 38px 140px;
}
.p img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.p{
    text-transform: uppercase;
    font-family: Source Sans Pro;
    font-size: 18px;
    color: white;
}
.a{
    text-transform:none;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.40);
    text-decoration: none;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#address{
    text-transform:capitalize;
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    grid-column-start: 3;
    grid-column-end: 4;
}
.end{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}

.navbar{
    list-style-type:none;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

.navbar a{
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

header{
    padding-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    top: 0px;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.textFlexbox{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 83px;
}

.textFlexbox p{
    display: flex;
    text-align: left;
}
.dropdown{
    display: none;
}

@media (max-width: 768px) {
    .textFlexbox { 
        grid-template-columns: auto; 
        grid-gap:24px
    }
    .footer{
        display: flex;
        width:auto;
        flex-direction: column;
        text-align: center;
        text-align: center;
        padding: 0 0 0 0;
    }
    nav{
        display: none;
    }
    .dropdown{
        display: inline;
        margin-right: 22px;
    }
    header{
        display: flex;
        justify-content: space-between;
        padding-left: 22px;
    }
    .learnMore button{
        width: 100px;
        height: 100px;
        padding-left: 35px;
        font-size: 50px;
    }
  }